.tabs {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;
    text-decoration: none;
}

.tabs .tab {
    position: relative;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: var(--gray);
    font-family: var(--display-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
}

.tabs .tab:hover {
    color: var(--black);
}

/* .tab.active {
    font-weight: bold;
} */

.tab::after {
    content: "";
    width: 0px;
    height: 4px;
    background-color: var(--accent);
    transition: width 0.3s cubic-bezier(0.68, -0.8, 0.32, 1.8);
}

.tabs .tab:not(.active):hover::after {
    width: 12px;
}

.tab.active {
    color: var(--black)
}

.tab.active::after {
    /* transform: scaleX(1); */
    width: calc(100% - 12px);
}
