:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nav-height: 72px;

  --body-font: "Jost", sans-serif;
  --display-font: "Staatliches", sans-serif;

  --background: #FFF4E6;
  --background-dark: #FFE4C2;
  --background-darker: #EABD85;

  --secondary: #FFD399;
  --secondary-dark: #FFC670;

  --primary-light: #99350B;
  --primary: #712708;
  --primary-dark: #4C1B05;

  --accent-light: #C9562C;
  --accent: #A64724;
  --accent-dark: #86391D;

  --black: #271107;
  --gray: #998873;
  --error-red: #ff0000;
}


html, body {
  margin: 0;
  height: 100%;
  background-color: var(--background);
}

h1 {
  font-family: var(--display-font);
  font-size: 4rem;
  color: var(--black);
}

h2 {
  font-family: var(--display-font);
  font-size: 2rem;
  color: var(--black);
}

h3 {
  font-family: var(--display-font);
  font-size: 1.5rem;
  color: var(--black);
}

p {
  font-family: var(--body-font);
  font-size: 1rem;
}
