:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-font: "Jost", sans-serif;
  --display-font: "Staatliches", sans-serif;
  --background: #f6dac1;
  --background-dark: #f2c9a6;
  --accent: #b44418;
  --accent-dark: #7e3011;
  --black: #271107;
  --gray: #7e7e7e;
  --error-red: #ff0000;

  --nav-height: 72px;
}


html, body {
  margin: 0;
  height: 100%;
}

h1 {
  font-family: var(--display-font);
  font-size: 4rem;
  color: var(--black);
}

h2 {
  font-family: var(--display-font);
  font-size: 2rem;
  color: var(--black);
}

h3 {
  font-family: var(--display-font);
  font-size: 1.5rem;
  color: var(--black);
}

p {
  font-family: var(--body-font);
  font-size: 1rem;
}

a {
  /* text-decoration: none; */
}
