.form-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.form-button-container {
    margin-top: 1rem;
    width: 100%;
}

.account-action-links {
    margin-top: 1rem;
}

.error-msg {
    color: var(--error-red);
    font-size: 0.8rem;
    padding: 0.5em;
}

.tabs a {
    text-decoration: none;
    color: #000;
}