.button {
    border-radius: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: var(--accent);
    border: none;
    padding: 16px 24px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1rem;
    font-family: var(--body-font);
    line-height: 1;
    font-weight: 600;
}

.button:hover {
    background-color: var(--accent-dark);
}

.button-link {
    text-decoration: none;
    color: #fff;
    /* width: fit-content; */
    display: inline-block;
}