.chat-container {
    display: flex;
    max-width: 340px;
    background-color: var(--background);
    flex-direction: column;
    padding: 1rem;
}

.messages {
    height: 25rem;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
    padding-right: 0.5rem;
    /* Make scrollable and fade-out effect */
    overflow-y: scroll;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, transparent, black 1rem);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 1rem);
}

/* Hide scrollbar */
.messages::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-line {
    font-family: var(--body-font);
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.messages .username {
    font-weight: 600;
    position: absolute;
}

.message-line .timestamp {
    color: var(--gray);
    margin-left: auto;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.message-line .body {
    margin-top: 0.2rem;
}

.input-textfield input {
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border: 2px solid var(--accent);
    border-radius: 0px;
    font-size: 16px;
    outline-offset: 2px;
    transition: background-color 0.25s;
}

.input-textfield input:focus {
    background-color: var(--background);
}

.message-input {
    padding-top: 1.5rem;
}