.log-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding-bottom: 1rem;
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
}

.log-item {
    font-family: var(--body-font);
}
