.game-info,
.game-info-labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 0 0 0;
}

.game-list,
.game-info,
.game-info-labels {
    list-style: none;
}

.game,
.game-info-labels,
.game-info {
    padding: 15px;
}

/* Styling for game list header */
.game-info-labels {
    font-weight: bold;
}



/* Styling for individual game item */
.game {
    border: 1px solid #ccc;
    padding: 0;
}

/* Styling for the game list container */
.games-tabs-container {
    max-width: 70%;
    margin: 0 auto; /* Center the container */
}


/***********************************/
/* Indvidual game item styling (below) */
/***********************************/

/* Styling for join button */
.join-button {
    /* text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px; */
}

.join-button:hover {
    background-color: #0056b3;
}

/* Styling for time ago span */
.game-date span {
    font-size: 0.9rem;
    color: #777;
}

.empty-games-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    height: 100%;
}


/***********************************/
/* Custom react-tabs styling (below) */
/***********************************/

/* Styling for tabs */
.react-tabs__tab-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.react-tabs__tab {
    padding: 10px 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Apply hover effect to non-selected tabs */
.react-tabs__tab:not(.react-tabs__tab--selected):hover {
    background-color: #e0e0e0;
}

.react-tabs__tab--selected {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
