.slider-container {
    position: relative;
    height: 100%;

    transition: "transform ease-out 0.3s";
    display: "flex";
}

.slider-container-overflow {
    overflow: "hidden";
    height: "100%";
}

.slide {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    border: 1px solid rgba(0,0,0,0.2);
    aspect-ratio: 16 / 9;
    object-fit: cover;
    /* background-position: center;
    background-size: cover; */
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3rem;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    filter: drop-shadow(0 0 0.2em #000)    

}

#left-slider-button {
    left: 20px;
}

#right-slider-button {
    right: 20px;
}

.slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    color: #000;
}

.dot-active {
    color: #fff;
    filter: drop-shadow(0 0 0.2em #000)    
}