.navbar {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--background-dark);
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 20px;
    list-style-type: none;
}