.player-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: calc(100svw - (100svw - 100%));
    gap: 1.3rem;
    padding: 1rem;
    font-family: var(--body-font);

    /* make fixed position mid left */
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 9999;
    transform: translateY(-50%);

    /* colors for debugging */
    /* background-color: lightcoral;
    border: 2px solid red; */
}

.player-stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 3px;

    /* border: 2px solid orange;
    background-color: lightsalmon; */
}

.player-avatar {
    /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 3 / 1;
    border-radius: 50%;
    /* top, right, bottom, left */
    margin: auto 0.5rem auto 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--accent);
    background-color: var(--corner-background);
    padding: 5px;

    img {
        width: 100%;
        height: 100%;
    }
}

.player-name {
    grid-area: 1 / 2 / 1 / 5;

    /* handle overflow if username is too long for container*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* border: 2px solid green;
    background-color: lightgreen; */
}

.bold {
    /* for bolding your player name ("You") */
    font-weight: bold;
}

.player-vc {
    margin-left: 5px;
}

.player-properties {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: smaller;

    /* up to 8 property sets */
    grid-column-gap: 5px;
    grid-area: 2 / 2 / 2 / 6;

    /* border: 2px solid blue;
    background-color: lightblue; */
}

.player-property {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 2px solid purple;
    background-color: plum; */
}

/* PROPERTY CARDS */
.vertical-rectangle {
    width: 18px;
    height: 28px;
    position: relative;
    border: 1px solid black;
    background-color: var(--corner-background);
}

.horizontal-rectangle {
    width: 100%;
    height: 8px;
    border: 1.2px solid black;
    background-color: #fff;
}

.number-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: smaller;
}