.chat-container {
    display: flex;
    width: 100%;
    height: 69vh;
    flex-direction: column;
}

.chat-container h2 {
    margin-bottom: 0.75rem;
}

.messages {
    display: flex;
    gap: 8px;
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding-right: 0.5rem; */
    /* Make scrollable and fade-out effect */
    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
}

.messages:hover {
    overflow-y: scroll;
}

.message-line {
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.messages .username {
    font-weight: 600;
    position: absolute;
}

.message-line .timestamp {
    color: var(--gray);
    margin-left: auto;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.message-line .body {
    margin-top: 0.2rem;
}

.input-textfield input {
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border: 2px solid var(--accent);
    border-radius: 0px;
    font-size: 16px;
    outline-offset: 2px;
    transition: background-color 0.25s;
    width: 86.2%;
}

.input-textfield input:focus {
    background-color: var(--background);
}

.message-input {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
}