.voice-chat-room-container {
    /* display: flex; */
    width: 100%;
    gap: 1rem;
    /* height: 6rem; */
    flex-direction: column;
    padding: 1rem;
}

.voice-chat-room-container h2 {
    margin-bottom: 0.5rem;
    line-height: 1;
}