.filled, .label-class {
    color: blue;
    /* display: flex;
    flex-direction: column; */
    position: relative;
    box-sizing: border-box;
}

.text-field-span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: 0.15s;
}

.text-field-input {
    padding: 12px;
    border-radius: 0px;
    border: 2px solid black;
    background: transparent;
    margin-top: 8px;
    transition: box-shadow 0.25s;
}

.text-field-input:focus {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    outline: none;
}

label:focus-within span, label.filled span {
    top: -50%;
    font-size: 10px;
    padding: 2px 4px;
    background-color: white;
    border-radius: 2px;
}