.logo {
    font-family: var(--display-font);
    font-size: 128px;
    /* margin: 15vh 0px 64px 0px; */
    color: var(--black);
    text-decoration: none;
    /* word-spacing: 16px; */
    display: flex;
    gap: 16px;
  }
  
  .logo.animated span {
    display: inline-block;
    animation: 5s ease-out infinite letter-jump;
  }
  
  .logo.link:hover span {
    color: var(--primary);
  }
  
  @keyframes letter-jump {
    0% {
      transform: translateY(0px);
      text-shadow: 0px 0px 0px var(--accent);
    }
    5% {
      transform: translateY(-20px);
      text-shadow: 0px 24px 0px var(--accent);
    }
    10% {
      transform: translateY(0px);
      text-shadow: 0px 0px 0px var(--accent);
    }
  }
  
  .logo span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .logo span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .logo span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .logo span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .logo span:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .logo span:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .logo span:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  .logo span:nth-child(8) {
    animation-delay: 0.7s;
  }