#homepage-container {
    display: flex;
    flex-direction: column;
    background-color: #e1d8d1;
    margin: 0 auto;
    /* padding: 4rem; */
}

#homepage-container .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*top right bottom left*/
    padding: 5rem 20% 5rem 20%;
}

#homepage-container .sections .section-heading {
    text-align: center;
    margin-bottom: 2rem;
}


#title-section {
    margin-top: var(--nav-height);
    height: 80vh;
    background-color: var(--background);
}

#title-section #tagline {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

#title-section .action-links {
    margin-top: 1rem;
}

#about-section {
    background-color: var(--background-dark);
    height: 25%;
}

#features-section {
    height: 25%;
    background-color: var(--background);
}

#slideshow-container {
    /* width: 600px;
    height: 380px; */
    /* width: 40rem;
    height: 25rem;
    margin-bottom: 2em; */
}


/* #site-title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 6rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
} */