.player-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: calc(100svw - (100svw - 100%));
    gap: 1.3rem;
    padding: 1rem;
    font-family: var(--body-font);

    /* make fixed position mid left */
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
    transform: translateY(-50%);

    /* colors for debugging */
    /* background-color: lightcoral;
    border: 2px solid red; */
}

.player-stats {
    padding: 6px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    grid-row-gap: 3px;
    width: clamp(200px, 20vw, 340px);

    /* border: 2px solid orange;
    background-color: lightsalmon; */
}

.player-stats.is-turn {
    animation: fade-in-out 1s infinite ease-in-out alternate;
}

@keyframes fade-in-out {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--background-darker);
    }
}


.player-avatar {
    /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 3 / 1;
    border-radius: 50%;
    /* top, right, bottom, left */
    margin: auto 0.5rem auto 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--accent);
    background-color: var(--corner-background);
    padding: 5px;
}

.player-avatar img {
    width: 100%;
    height: 100%;
}

.player-name-status {
    grid-area: 1 / 2 / 1 / 3;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px; */
    width: fit-content;
}

.player-name-status > span {
    vertical-align: middle;
    display: inline-flex;
}

.player-name {
    /* handle overflow if username is too long for container*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* border: 2px solid green;
    background-color: lightgreen; */
}

.player-stats.is-turn .player-name {
    font-weight: 800;
    margin-right: 4px;
}

/* .player-vc {
    margin-left: 5px;
} */

.player-properties {
    display: flex;
    flex-direction: row;
    gap: 6px;
    grid-area: 2 / 2 / 2 / 3;
    width: fit-content;
    /* grid-template-columns: repeat(8, 1fr); */
    /* font-size: smaller; */

    /* up to 8 property sets */
    /* grid-column-gap: 5px;
    grid-area: 2 / 2 / 2 / 6; */

    /* border: 2px solid blue;
    background-color: lightblue; */
}

.player-property {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* border: 2px solid purple;
    background-color: plum; */
}

/* PROPERTY CARDS */
/* .vertical-rectangle-small {
    width: 18px;
    height: 28px;
    position: relative;
    border: 1px solid black;
    background-color: lightgray;
} */

/* .horizontal-rectangle-small {
    width: 100%;
    height: 8px;
    border-bottom: 1px solid black;
    background-color: #fff;
} */

/* .number-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
} */