.chat-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.chat-container h3 {
    line-height: 1;
    margin-bottom: -0.5rem;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    /* Make scrollable and fade-out effect */
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
}

.message {
    display: flex;
    flex-direction: column;
}

.user-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message-line {
    font-family: var(--body-font);
    position: relative;
    word-wrap: break-word;
}

.username {
    font-weight: 600;

    /* Truncate long usernames */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    color: var(--gray);
    font-size: 12px;
}

.message-input {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    margin-top: auto;
}

.input-textfield {
    width: 100%;
}

.input-textfield input {
    padding: 12px;
    background-color: var(--background);
    border: 2px solid var(--accent);
    border-right: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: var(--body-font);
    outline-offset: 2px;
    transition: background-color 0.25s;
    width: 100%;
    height: 36px;
}

.input-textfield input::placeholder {
    font-size: 14px;
    font-family: var(--body-font);
    font-weight: 600;
}

.input-textfield input:focus {
    background-color: var(--background);
}

#send-message-button {
    width: 36px;
    height: 36px;
    border-radius: 0px;
    background-color: var(--accent);
    transition: background-color 0.25s;
    border: none;
}

#send-message-button:hover {
    background-color: var(--accent-dark);
}